body { text-align: center; }

header { 
	font-family: sans-serif, monospace; 
	vertical-align: middle;
	background: #262626;
	border-bottom: 4px solid #bd1143;
	padding: 8px;
	margin-bottom: 16px;
}

header h1 {
	color: white; 
	font-size: 32px;
	margin: 0;
}

header h2 {
	font-size: 18px;
	color: #444;
}

#pi_logo { vertical-align: middle;}

#input, #output { display: none;}

.input_bt, .output_bt { 
	display: inline-block; 
	width: 64px; height: 64px; 
	border: 3px solid black;
	border-radius: 4px;
	background: #333; 
	color: #999;
	font-family: sans-serif, monospace;
	font-size: 12px;
}

.input_bt div, .output_bt div {
	font-size: 26px;
	margin-top: 6px;
}

#host { 
	background: #bd1143;
	border: 3px solid black;
	border-radius: 4px;
	padding: 4px;
	color: white; 
	font-size: 18px;
	font-family: monospace; 
}
